
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border: 1px solid rgb(255, 248, 248);
    margin-top: 15px;
    
    
}

.header_logo {
    object-fit: contain;
    height: 45px;
   
}