.swipeButtons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 3vh;
    width: 100%;
    margin: 22px solid black;
}

.swipeButtons .MuiIconButton-root {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}

.replay {
    padding: 5px;
color: rgb(255, 123, 0);
}

.close {
    padding: 5px;
color: red;
}

.star {
    padding: 5px;
color: blue;
}

.favorite {
    padding: 5px;
color: green;
}

.flash {
    padding: 5px;
color: purple;
}